Django==5.1.1
djangorestframework==3.15.2
celery==5.4.0
redis==5.0.8
python-dotenv==1.0.1
django-cors-headers==4.4.0
django-allauth==65.1.0
PyYAML==6.0.2
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-ollama
langchain-community
langchain-ollama
openai
chromadb
django-channels==4.1.0
channels-redis==4.2.0
apscheduler==3.10.4

